In [1]:
import os
from glob import glob
import ntpath
import pandas as pd

In [2]:
private_dataset_folder = r"D:\deepfakes\aws"
private_dataset_folder_labels = r"D:/deepfakes/aws/labels.csv"
private_dataset_folder_labels_updated = r"D:/deepfakes/aws/labels_updated.csv"

In [3]:
videos_existing = sorted([ntpath.basename(y) for x in os.walk(private_dataset_folder) for y in glob(os.path.join(x[0], '*.mp4'))])

In [16]:
sorted([y for x in os.walk(private_dataset_folder) for y in glob(
            os.path.join(x[0], '*.mp4'))])[-1]

'D:\\deepfakes\\aws\\test_4\\zztsycpujv.mp4'

In [8]:
private_test_dataset_labels = pd.read_csv(private_dataset_folder_labels)

In [9]:
private_test_dataset_labels

            filename  label
0     aalscayrfi.mp4      0
1     aalyqplqns.mp4      0
2     aamrozxzsq.mp4      1
3     aaoqanfmgd.mp4      1
4     aaqkmjtoby.mp4      1
...              ...    ...
4995  zzoqoqsqtf.mp4      1
4996  zzrglepohd.mp4      1
4997  zztotvpkjc.mp4      0
4998  zztsycpujv.mp4      1
4999  zzyawcrxmh.mp4      0

[5000 rows x 2 columns]

In [10]:
updated_df = private_test_dataset_labels[private_test_dataset_labels['filename'].isin(videos_existing)]

In [13]:
updated_df = updated_df.reset_index()
del updated_df["level_0"]
updated_df

            filename  label
0     aalscayrfi.mp4      0
1     aamrozxzsq.mp4      1
2     aaoqanfmgd.mp4      1
3     aaqkmjtoby.mp4      1
4     aarpyivfys.mp4      0
...              ...    ...
3995  zzkhgelrxm.mp4      1
3996  zzoqoqsqtf.mp4      1
3997  zztotvpkjc.mp4      0
3998  zztsycpujv.mp4      1
3999  zzyawcrxmh.mp4      0

[4000 rows x 2 columns]

In [54]:
updated_df[updated_df["label"] == 1]

            filename  label
2     aamrozxzsq.mp4      1
3     aaoqanfmgd.mp4      1
4     aaqkmjtoby.mp4      1
7     aaygrlxdvd.mp4      1
9     abanuvjvgh.mp4      1
...              ...    ...
4989  zxwogpcnjg.mp4      1
4990  zyayybhokn.mp4      1
4994  zzkhgelrxm.mp4      1
4995  zzoqoqsqtf.mp4      1
4998  zztsycpujv.mp4      1

[1985 rows x 2 columns]

In [55]:
updated_df.to_csv(private_dataset_folder_labels_updated,index=False)